---
---

@import "{{ site.theme }}";
img.speaker {
      border-radius: 250px 15px 220px 15px/15px 220px 15px 250px;
      border:solid 4px #333;
}
.page-header {
    padding: 3rem 6rem;
    background-image: linear-gradient(120deg, #155799, #991599);
}
